*

#--- Include documentation and git files.
!.gitignore
!.gitmodules
!auteur
!README.md
!Makefile
!.vscode/
!.vscode/*

#--- Include project files.
!get_next_line.c
!get_next_line.h

#--- Include library files.
!/libft
